DATABASE_URL=
UPLOADTHING_TOKEN=
SECRET_KEY_JWT=
NEXT_PUBLIC_SITE_URL=
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-3W6HG8151V

# Google Sheets pricing data
GOOGLE_SHEET_ID=
GOOGLE_SHEET_BLOCKED_TABS=
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_PROJECT_ID=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY_ID=
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_CLIENT_ID=
